#control-panel {
  display: flex; // 使用 flex 布局
  flex-direction: column; // 子元素按列排列
  background: $background; // 背景颜色
  color: #F8F8F9; // 字体颜色
  opacity: 0.9; // 不透明度

  // logo 样式
  #logo {
    text-align: left; // 左对齐
    margin: 20px 0; // 上下边距为 20px

    img {
      width: 120px; // 宽度为 120px
    }
  }

  // 帮助按钮样式
  #help-btn {
    position: absolute; // 绝对定位
    top: 30px; // 距离顶部 30px
    right: 12px; // 距离右侧 12px
  }

  // header 和 footer 样式
  header, footer {
    flex: 0 0 auto; // 不伸缩
    text-align: center; // 居中对齐
  }

  header {
    padding: $spacing-normal; // 内边距为预定义的正常间距

    #tabs {
      display: flex; // 使用 flex 布局
      width: 100%; // 宽度为 100%
    }

    // 标签样式
    .tab {
      flex-grow: 1; // 占据剩余空间
      background: #000; // 背景颜色为黑色
      cursor: pointer; // 光标变为指针
      display: inline-block; // 行内块元素
      line-height: 0; // 行高为 0
      border: solid 1px transparent; // 边框为透明
      padding: $spacing-normal; // 内边距为预定义的正常间距
      margin: -$spacing-tiny 0; // 上下外边距为负的预定义微小间距
      color: $color-control-inactive; // 字体颜色为不活跃状态的颜色
      text-transform: capitalize; // 首字母大写

      &:hover {
        color: $color-control-hover; // 鼠标悬停时字体颜色变为预定义的悬停颜色
      }

      &.active {
        border-color: #000; // 激活状态时边框颜色为黑色
        background: $color-control-subtle; // 背景颜色为预定义的细微变化颜色
        color: #fff; // 字体颜色为白色
      }
    }
  }

  main {
    flex: 1 1 auto; // 可伸缩
    padding: $spacing-normal; // 内边距为预定义的正常间距
    overflow-y: auto; // 垂直方向可滚动
    overflow-x: hidden; // 水平方向隐藏

    // 自定义滚动条样式
    &::-webkit-scrollbar {
      width: 8px; // 滚动条宽度为 8px
      background: none; // 背景为空
    }
    &::-webkit-scrollbar-thumb {
      background: $background-alt; // 滚动条滑块背景为预定义的备用背景色
    }
  }

  // 标题样式
  h4 {
    text-transform: uppercase; // 字母大写
    opacity: 0.4; // 不透明度为 0.4
    font-weight: 500; // 字体粗细为 500
    font-size: 12px; // 字体大小为 12px
    margin-top: 16px; // 上外边距为 16px
    margin-bottom: 0; // 下外边距为 0
  }

  // 日志信息样式
  #log-info {
    margin-top: -12px; // 上外边距为 -12px

    a {
      text-decoration: none; // 去掉下划线
      color: $color-control-active; // 字体颜色为预定义的活跃状态颜色
    }
  }

  // 帮助信息样式
  #help {
    margin-top: -12px; // 上外边距为 -12px

    table {
      width: 100%; // 宽度为 100%
    }

    td {
      width: 50%; // 宽度为 50%
    }
  }
}
